:root {
  --primary: rgb(42, 108, 207);
  --secondary: rgb(123, 168, 236);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  overflow: hidden;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

nav h1 {
  float: left;
  margin-left: 20px;
  color: var(--primary);
}

nav ul {
  display: flex;
}

nav li {
  float: right;
  display: inline;
  margin: 0 5px;
}

nav li a {
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 10%;
  font-weight: bolder;
}
nav li a:hover:not(.active) {
  background-color: var(--primary);
  color: white;
  text-decoration: underline;
}

.active {
  background-color: var(--primary);
  color: white;
}

.active:hover {
  background-color: var(--secondary);
  color: black;
}

/* COMPANY */
#company {
  background-image: url("./images/background.jpg");
  background-position: bottom;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company .jumbrotron {
  position: relative;
  z-index: 1;
}
.company::after {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  z-index: 0;
}
.company p {
  color: white;
}
#company div {
  text-align: center;
  width: 70%;
}
#company div h1 {
  color: white;
  margin: 20px 0;
  font-weight: 780;
}

.btn-comp {
  text-decoration: none;
  display: inline-block;
  background: var(--primary);
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
.btn-comp:hover {
  background: var(--secondary);
  color: #203239;
  text-decoration: none;
}

/* PROFICIENCY */
#proficiency {
  /* background-image: url("./images/topwave.svg"); */
  /* background-position: top;
  background-repeat: no-repeat; */
  height: 100vh;
  text-align: center;
}

.section-heading {
  padding-top: 80px;
}

.bar {
  border: 5px solid var(--secondary);
  border-radius: 5px;
  width: 500px;
  margin: auto;
}

.logo-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.logo {
  margin-top: 100px;
}

.logo img {
  width: 250px;
  height: 250px;
  margin: 0 30px;
}

.logo p {
  font-weight: 800;
  font-size: xx-large;
}

.prof-text {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.prof-text div {
  width: 50%;
}

/* PROJECTS */
#projects {
  height: 100vh;
  text-align: center;
}

div.scroll-container {
  width: 80%;
  background-color: var(--secondary);
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  margin-top: 50px;
  margin: 50px auto 0 auto;
  border-style: inset;
  border-width: thick;
  border-top-color: var(--primary);
  border-left-color: var(--primary);
  border-bottom-color: var(--secondary);
  border-right-color: var(--secondary);
}

div.scroll-container img {
  padding: 10px;
  height: 500px;
}

/* TEAMS */
#teams {
  height: 100vh;
  text-align: center;
}
div.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
}

div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #000000;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
}

div.card:hover {
  box-shadow: 0 4px 8px 0 var(--secondary), 0 6px 20px 0 var(--secondary);
}

div.card img {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  border-bottom: 1px solid #000000;
}

div.card-text {
  margin-top: 10px;
  padding: 0px;
}
.bars {
  display: inline-block;
  width: 100px;
  height: 5px;
  background: var(--primary);
  border-radius: 3px;
}
div.card-text h2 {
  margin-bottom: 0px;
}
div.card-text p {
  margin-bottom: 20px;
}

/* CONTACT */
#contact {
  background-image: url("./images/bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#contact div {
  text-align: center;
  width: 70%;
}
#contact div h1 {
  color: var(--primary);
  margin: 20px 0;
  font-weight: 780;
}
/* from */
.page-contact {
  background-image: url("./images/bg.jpg");
}
.contact {
  width: 70%;
  height: 360px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  border: 1px solid #000000;
  padding: 10px;
  box-shadow: 5px 7px 35px black;
}
.contact h1 {
  text-align: center;
  text-transform: capitalize;
}
.head-form {
  margin: 10px 0;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 96%;
  padding: 12px 20px;
  margin: 8px 20px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid black;
}
.btn {
  display: flex;
  justify-content: space-around;
}
/* response */
.card-response {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 150px;
  background-color: var(--primary);
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  border-radius: 15px;
  border: 1px solid #000000;
  text-align: center;
  /* box-shadow: 10px 10px 10px #000000; */
  box-shadow: 5px 7px 35px black;
}
.head-response {
  margin-top: 35px;
  color: white;
  font-size: 32px;
}
/* RESPONSIVE IMAGE */
@media only screen and (max-width: 700px) {
  .bar {
    width: 80%;
  }

  /* NAVBAR */
  nav li a:not(.active) {
    display: none;
  }

  /* COMPANY */
  #company div {
    text-align: center;
    width: 90%;
  }

  #proficiency {
    height: fit-content;
  }

  .logo {
    width: 30%;
  }
  .logo img {
    width: 100%;
    height: 150px;
    margin: 0;
  }

  .logo p {
    font-size: small;
  }
  .prof-text div {
    width: 100%;
  }
  /* PROJECTS */
  div.scroll-container {
    width: 90%;
  }

  /* TEAMS */
  #teams {
    height: fit-content;
  }
  #contact div {
    text-align: center;
    width: 90%;
  }
}
@media screen and (max-width: 660px) {
  .contact {
    width: 85%;
    height: 450px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    margin-top: 20px;
    height: 50px;
    margin-left: 8px;
  }
  .card-response {
    width: 90%;
    height: 160px;
  }
}
